.idea/.gitignore
.idea/artifacts
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/modules.xml
.idea/*.iml
.idea/*.xml
*.iml
.idea/**
# Except the following (these override the above exclusions)
!.idea/runConfigurations


**/target/**